@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Create</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2"><button id="create" class="btn btn-secondary btn-lg active" aria-pressed="true">Create</button></div>
                    <div class="col-10 text-right">
                        <label><small>Don't know where to start? Read <a asp-area="" asp-controller="Home" asp-action="HowTo" style="text-decoration: underline">here</a>.</small></label>
                    </div>
                    <input type="file" id="fileInput" accept=".jpg, .jpeg, .png, .gif, .mp3, .mp4, .pdf" style="display:none;">
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped my-4 w-100" id="draftsTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2"><h3>Archive Queue</h3></div>
                    <div class="col-10 text-right">
                        <label><small>Limited to the previous 10 archives</small></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped my-4 w-100" id="archiveTable">
                            <thead>
                                <tr>
                                    <th>URL</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>

    @section Scripts {

        <script type="text/javascript">
        var url = "";
        $(document).ready(function () {

            $.getJSON('@Url.Action("GetDrafts", "Create", new { Area = "Create" })', function (tableData) {
                console.log('draft data: ' + JSON.stringify(tableData));

                var draftsTable = $('#draftsTable').DataTable({
                    data: tableData,
                    info: false,
                    fixedHeader: false,
                    lengthChange: false,
                    autoWidth: true,
                    responsive: true,
                    columnDefs: [
                        { "width": "10%", "targets": 2 }
                    ],
                    columns: [

                        { data: "draftName" },
                        { data: "draftSummary" },
                        {
                            data: null,
                    	    render: function(data, type, full, meta)
						    {
                                var url = "";
                                if (data.cidtype === "") {
                                    url = "/Create/Create/CreateBuilder?Id=" + data.id + "&Type=" + data.type + "&Template=" + data.template;
                                } else {
                                    url = "/Create/Create/CreateEdit?Id=" + data.id + "&Type=" + data.type + "&Template=" + data.template + "&Pid=" + data.pid + "&CidType=" + data.cidtype + "&ipfspid=" + data.ipfspid + "&isDraft=" + data.isdraft;
                                }

                                return '<a href="' + url + '" class="btn btn-secondary btn active" role="button" aria-pressed="true">Resume</a>';

                            }
                        },
                    ],
                });
            });

            $.getJSON('@Url.Action("GetArchiveDrafts", "Create", new { Area = "Create" })', function (tableData) {


                var draftsTable = $('#archiveTable').DataTable({
                    data: JSON.parse(tableData),
                    info: false,
                    fixedHeader: false,
                    lengthChange: false,
                    autoWidth: true,
                    responsive: true,
                    columnDefs: [
                        { "width": "10%", "targets": 2 }
                    ],
                    columns: [

                        { data: "draftName" },
                        { data: "date" },
                        {
                            data: null,
                    	    render: function(data, type, full, meta)
                            {
                                var url = "";
                                url = "/Create/Create/CreateBuilder?Id=" + data.Id + "&Type=5";

                                return '<a href="' + url + '" class="btn btn-secondary btn active" role="button" aria-pressed="true">Open</a>';

                            }
                        },
                    ],
                });
            });

        });


            $('#create').off().on('click', function (evt) {

                (async () => {

                    const { value: type } = await Swal.fire({
                        title: 'Select Create Type',
                        input: 'select',
                        confirmButtonColor: "#48B5C4",
                        inputOptions: {
                            proposal: 'Proposal',
                            record: 'Record',
                            media: 'Media',
                        },
                        inputPlaceholder: 'Select a type',
                        showCancelButton: true,
                        inputValidator: (value) => {
                            return new Promise((resolve) => {
                                if (value === 'proposal' || value === 'record' || value === 'media') {
                                    resolve()
                                } else {
                                    resolve('You need to select a type :)')
                                }
                            })
                        }
                    })

                    if (type === "proposal") {
                        const { value: template } = await Swal.fire({
                            title: 'Select Template',
                            input: 'select',
                            inputOptions: {
                                none: 'None',
                                proposal: 'Proposal',
                            },
                            inputPlaceholder: 'Select a template',
                            showCancelButton: true,
                            inputValidator: (value) => {
                                return new Promise((resolve) => {
                                    if (value === 'none' || value === 'proposal') {
                                        resolve()
                                    } else {
                                        resolve('You need to select a template')
                                    }
                                })
                            }

                        })
                        if (template === "none") {
                            window.location = '/Create/Create/CreateBuilder?Id=0&Type=1&Template=none';
                        } else if (template === "proposal") {
                            window.location = '/Create/Create/CreateBuilder?Id=0&Type=1&Template=proposal';
                        }
                    } else if (type === "record") {
                        const { value: template } = await Swal.fire({
                            title: 'Select Template',
                            input: 'select',
                            inputOptions: {
                                none: 'None',
                                news: 'Article #1'
                                //wiki: 'Wiki'
                            },
                            inputPlaceholder: 'Select a template',
                            showCancelButton: true,
                            inputValidator: (value) => {
                                return new Promise((resolve) => {
                                    if (value === 'none' || value === 'news' || value === 'wiki') {
                                        resolve()
                                    } else {
                                        resolve('You need to select a template')
                                    }
                                })
                            }
                        });

                        if (template === "none") {
                            window.location = '/Create/Create/CreateBuilder?Id=0&Type=4&Template=none';
                        } else if (template === "news") {
                            window.location = '/Create/Create/CreateBuilder?Id=0&Type=4&Template=news';
                        } else if (template === "wiki") {
                            window.location = '/Create/Create/CreateBuilder?Id=0&Type=4&Template=wiki';

                        }
                    }  else if (type === "media") {

                        const fileInput = $('#fileInput');


                        fileInput.click();

                        fileInput.on('change', function () {
                            const files = this.files;

                            if (files.length > 0) {
                                const file = files[0];
                                const fileSize = file.size;
                                const maxSizeInBytes = 10485760;

                                if (fileSize > maxSizeInBytes) {
                                    Swal.fire({
                                        title: 'File size too big',
                                        type: 'error',
                                        confirmButtonColor: "#48B5C4",
                                        confirmButtonText: 'Ok'
                                    });
                                } else {
                                    const fileName = file.name;


                                    const formData = new FormData();
                                    formData.append('file', file);
                                    formData.append('filename', fileName);

                                    const fileReader = new FileReader();

                                    fileReader.onload = function (e) {
                                        const fileContent = e.target.result;

                                        const fileInfo = {
                                            fileName: file.name,
                                            fileSize: file.size,
                                            fileContent: fileContent
                                        };

                                    };

                                    fileReader.readAsDataURL(file);

                                    $.ajax({
                                        url: '@Url.Action("UploadMedia", "Create", new { Area = "Create" })',
                                        type: 'POST',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        success: function (response) {
                                        window.location = '/Create/Create/CreateMedia?Id=0&Type=4.1&Template=none&filename=' + response.filename;
       
                                        },
                                        error: function (xhr, status, error) {
                                            Swal.fire({
                                                title: 'Could Not Upload Media',
                                                type: 'error',
                                                confirmButtonColor: "#48B5C4",
                                                confirmButtonText: 'Ok'
                                            });
                                            console.error('Error loading images:', error);
                                            sessionStorage.removeItem('uploadedFile');
                                        }
                                    });
                                }
                            }
                        });

                    }

                })()

                return false;
            });
        </script>
    }
