@{
    ViewData["Title"] = "About";
}

<div class="listing-container">
    <div class="title" class="heading_news">
        <h1 class="display-4">Welcome To Historia Network</h1>
    </div>
    <br />

    <hr />
    <div class="row">
        <div class="listing-container" style="margin: 0px 10px 10px 0px">
            <div class="text-left">
                <h3>What is Historia?</h3>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mmA_51j3K3Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
            <br />
            <h5>What is Historia at a high level?</h5>
            <p>
                Historia is a consensus-based, immutable historical record blockchain system designed for record
                keeping of current events (future history) with emphasis on absolute accuracy and seeks to prevent all
                assimilations of falsehoods into the historical record.
            </p>
            <h5>What is Historia in layman terms?</h5>
            <p>
                Historia is a decentralized blockchain application, similar to a database. Individual computers on
                the network, store the records that are approved. Think of it as a peer to peer system for Historical records.
                Records become approved via a voting mechanism. Once the
                records become approved via a vote, it can not be edited or changed by anybody, including the developers.
                These records will always maintain there original content for as long as the Historia Network exists,
                hopefully all of time.
            </p>
            <h5>What is this website at a high level?</h5>
            <p>
                Historia Network is the decentralized blockchain and protocol layer. This includes the voting system and the storage system.
                This web application runs on top of and interfaces with Historia Network blockchain and protocol layer. This website was needed to make
                Historia Network easier to use. Even if this website was to go down, you could still access the records directly through the
                Historia Network software.
            </p>
            <h5>How does a record get permanetly added to the Historia Network?</h5>
            <p>
                Records can be proposed by any individual user that pays a small fee. This fee is to prevent spam.
                The record then goes through a voting period in which voters should vote based on the accurancy of the record.
            </p>
            <h5>How do I vote?</h5>
            <p>
                To become a voter, you must own at minimum 100 HTA coins. You can buy these on a cryptocurrency exchange, like STEX.
                If you are not an expert in cryptocurrency or do not feel confident in your ability to setup the voting node with the
                proper voting keys, you can use the subscription service (coming soon), and we will do the heavy lifting
                for you.
            </p>
            <h5>Why do I need "voting keys" to vote?</h5>
            <p>
                This was designed into the Historia blockchain on purpose. If any user is able to vote, then the accurancy of the records
                will go down because of the super states would be able to control the vote. Because of the limited number of coins
                currently available, there are a limited number of possible voting keys.
            </p>
            <h5>Can I get paid by submitting records?</h5>
            <p>
                Yes! When users submit a record proposal, they also can submit a request for payment. If the
                voters consider this to be an appropriate fee for the content submitted, as well as meeting the other
                guidelines such as accuracy, evidence, references, validity of content, then the submitting entity will receive payment
                for their work on approval.
            </p>
            <h5>What is the Historia Local Web Application (HLWA)?</h5>
            <p>
                In maintaining the decentralized nature of the Historia Network project, we have released a stand alone open source version of the Historia Web application that can be run on a user's local machine. This allows for all of the features of the Historia Network web site (IE viewing records, voting on records, submitting records), minus the user system and comment system. This is called the Historia Local Web Application (HLWA). You can find links for this from the Wallets and Software page <a href="/Home/Wallets" style='text-decoration: underline;'>here</a>.
            </p>
            <h5>Why release the Historia Local Web Application (HLWA)?</h5>
            <p>
                Again, in maintaining the decentralized nature of the Historia Network project, the Historia Network developers thought it was important to provide this open source software in the unlikely case that our centralized website was shutdown via government attack. This will prevent our project from being completely shutdown and cut off.
            </p>
            <h5>What is the  release the Historia Local Web Browser Extension (HLWBE)?</h5>
            <p>
                The Histora Local Web Browser Extension (HLWBE) is a open source extension is a browser extenison that works in conjucture with either the Historia Network website or the Histora Local Web Application (HLWA) to save and import a direct copy of a web page for archiving purposes. You can find links for this from the Wallets and Software page <a href="/Home/Wallets" style='text-decoration: underline;'>here</a>.
            </p>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <h5>Coin Statistics as of September 23, 2023</h5>
                    <ul>
                        <li>No ICO, Premine, Instamine, or Founder’s Tax</li>
                        <li>X16Rv2 GPU Mineable</li>
                        <li>2MB Blocks</li>
                        <li>Block Reward: ~3.5 Per Block</li>
                        <li>Miners Take: 50%</li>
                        <li>Content Distribution Masternodes Take: 50%</li>
                        <li>Record Proposals: Up to 20%</li>
                        <li>Annual Decrease of Supply by 7.69%</li>
                        <li>61160 New Coins per Month</li>
                        <li>Circulating Coin Supply: 5,077,629</li>
                        <li>Maximum Coin Supply: 15.4 Million</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <img src="~/images/theme-1-about.png" class="img-fluid float-right" alt="Historia ICO">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="listing-container" style="margin: 0px 10px 10px 0px">
            <h4>Development Log</h4>
            <p>These logs are for both Historia Local Web App as well as the Historia.network site.</p>
            <br />
            <h5>Completed</h5>
            <h6>Update: August 26, 2023</h6>
            <ul>
                <li>Added a method to automatically take a screen shot of a Tweet and add it to the Create Builder.</li>
                <li>Added Open Graph information on the front page for any archives that get submitted. We also added this to the details page for each record/archive. This cleans things up a bit.</li>
                <li>Added search capabilities to the web interface. Searching the Historia Network records will search on all Name, Summary, and contents of the records</li>
                <li>Added Deep Search to the web interface. Searching the Historia Network records will search on all Name, Summary, and contents of the records if Deep Search is enabled.</li>

            </ul>
            <h6>Update: April 30, 2023</h6>
            <ul>
                <li>Fixed a bug in which the records submitted via the Historia Local Web decentralized app (HLWA) were not being seen on the centralized site. They now will be automatically imported into the centralized web site.</li>
                <li>Fixed a "Hours/Days/Weeks/Months ago" since submission bug on the proposals/record/archives. While minor, it now works properly across all time zones.</li>
                <li>Added Open Graph information on the front page for any archives that get submitted. We also added this to the details page for each record/archive. This cleans things up a bit.</li>
                <li>Added search capabilities to the web interface. Searching the Historia Network records will search on all Name, Summary, and contents of the records</li>
                <li>Added all of these features and fixes to Historia Local Web App (HLWA). </li>
            </ul>
            <h6>Update: December 4, 2022</h6>
            <ul>
                <li>Historia Network Main Site Updated Create System to allow for versioning, evidence, and topics</li>
                <li>Updated record details page to allow for versioning, evidence, and topics</li>
                <li>Updated record details page to allow listing of versioning, evidence, and topics information</li>
                <li>Updated Historia Network Core Client to support new versioning, evidence, and topics system (Release date for 17.04 TBD)</li>
            </ul>
            <h6>Update: August 3, 2022</h6>
            <ul>
                <li>Historia Network Main Site Complete Revamp of Create System for better scaling</li>
                <li>New Create System offers faster payments of proposals</li>
                <li>New Create System UI for more intuitive design approach</li>
                <li>New Browser Extension interfacing with main Historia Network web application</li>
                <li>New version of Historia Local Web Application Release with minor bug fixes</li>
            </ul>
            <h6>Update: April 21, 2022</h6>
            <ul>
                <li>Historia Local Web Application Released (HLWA)</li>
                <li>Mobile Web Site Cleanup</li>
                <li>Many minor bug fixes and tweaks</li>
                <li>URL Added to Masternode Listing Page for HLWA Support</li>
            </ul>

            <h6>Update: January 5, 2022</h6>
            <ul>
                <li>Infinite scrolling pagination system</li>
                <li>Further Administration tools and statistics</li>
                <li>Many minor bug fixes and tweaks</li>
                <li>General code cleanup</li>
            </ul>
            <h6>Update: August 5, 2021</h6>
            <ul>
                <li>Tweaks to comment system to add sorting capibilites, user reporting</li>
                <li>Tweaks to main page to add top comments per proposal, and newest comments</li>
                <li>Many minor bug fixes and tweaks</li>
                <li>Further tweaks for create system, to allow for posting on users' public page before submitted for vote</li>
                <li>Revamp of Masternode and Voting Node Registration page</li>

            </ul>
            <h6>Update: October 1, 2020</h6>
            <ul>
                <li>Email engine completed</li>
                <li>Administration tools and statistics</li>
                <li>Many minor bug fixes and tweaks</li>
                <li>Ability for users to self-delete comments</li>
                <li>General code cleanup</li>
            </ul>
            <h6>Update: September 1, 2020</h6>
            <ul>
                <li>Updates to Affilate Marketing System released</li>
                <li>Private in app messaging system released</li>
                <li>Deep linking of articles for comments and messaging</li>
                <li>User reporting system for spam/pornographic content</li>
            </ul>
            <h6>Update: July 24, 2020</h6>
            <ul>
                <li>
                    Affilate Marketing System released
                </li>
            </ul>
            <h6>Update: July 1, 2020</h6>
            <ul>
                <li>
                    Reached Beta level - Open for receiving proposals/records/archives.
                </li>
                <li>
                    Previous third party comment system has been removed and replaced with in house designed comment system.
                </li>
                <li>
                    Home page revamped to all objects lists.
                </li>
                <li>
                    More informational pages explaining how to use.
                </li>
                <li>
                    Character counters on input fields.
                </li>
            </ul>
            <h6>Update: June 4, 2020</h6>
            <ul>
                <li>
                    Object creation generator has been completely revamped on back end to make faster.
                </li>
                <li>
                    Preview system intregated to show output before submission.
                </li>
                <li>
                    Images are now part of the HTML generated.
                </li>
                <li>
                    Creation of all object types are now enabled.
                </li>
                <li>
                    Social Media buttons are now enabled to share.
                </li>
                <li>
                    Cycle Information listed on Create page.
                </li>
                <li>
                    Bug fixes! Too many to list here.
                </li>
            </ul>
            <h5>In Progress</h5>
            <ul>
                <li>
                    Further social aspects, such as following, user profile customization, user profile statistics. Gameification. Re-sharing ability
                </li>
                <li>
                    Further tweaks for create system, to allow for posting on users' public page before submitted for vote
                </li>
                <li>
                    Redo Facebook/Twitter buttons to prevent canvas tracking from third party apps
                </li>
                <li>
                    Suggestion update mechanism
                </li>
                <li>
                    Administration stuff
                </li>
                <li>
                    Further Bug Fixes
                </li>
            </ul>
        </div>
    </div>
</div>
