@{
    ViewData["Title"] = "About";
}

    <div class="listing-container">
        <div class="title" class="heading_news">
            <h1 class="display-4">Welcome To Historia Network</h1>
        </div>
        <br />

        <hr />
        <div class="row">
            <div class="listing-container" style="margin: 0px 10px 10px 0px">
                <div class="text-left">
                    <h3>What is Historia?</h3>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mmA_51j3K3Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
                <br />
                <h5>What is Historia at a high level?</h5>
                <p>
                    Historia is a consensus-based, immutable historical record blockchain system designed for record
                    keeping of current events (future history) with emphasis on absolute accuracy and seeks to prevent all
                    assimilations of falsehoods into the historical record.
                </p>
                <h5>What is Historia in layman terms?</h5>
                <p>
                    Historia is a decentralized blockchain application, similar to a database. Individual computers on
                    the network, store the records that are approved. Think of it as a peer to peer system for Historical records.
                    Records become approved via a voting mechanism. Once the
                    records become approved via a vote, it can not be edited or changed by anybody, including the developers.
                    These records will always maintain there original content for as long as the Historia Network exists,
                    hopefully all of time.
                </p>
                <h5>What is this website at a high level?</h5>
                <p>
                    Historia Network is the decentralized blockchain and protocol layer. This includes the voting system and the storage system.
                    This web application runs on top of and interfaces with Historia Network blockchain and protocol layer. This website was needed to make
                    Historia Network easier to use. Even if this website was to go down, you could still access the records directly through the
                    Historia Network software.
                </p>
                <h5>How does a record get permanetly added to the Historia Network?</h5>
                <p>
                    Records can be proposed by any individual user that pays a small fee. This fee is to prevent spam.
                    The record then goes through a voting period in which voters should vote based on the accurancy of the record.
                </p>
                <h5>How do I vote?</h5>
                <p>
                    To become a voter, you must own at minimum 100 HTA coins. You can buy these on a cryptocurrency exchange, like STEX.
                    If you are not an expert in cryptocurrency or do not feel confident in your ability to setup the voting node with the
                    proper voting keys, you can use the subscription service available on this website, and we will do the heavy lifting
                    for you.
                </p>
                <h5>Why do I need "voting keys" to vote?</h5>
                <p>
                    This was designed into the Historia blockchain on purpose. If any user is able to vote, then the accurancy of the records
                    will go down because of the super states would be able to control the vote. Because of the limited number of coins
                    currently available, there are a limited number of possible voting keys.
                </p>
                <h5>Can I get paid by submitting records?</h5>
                <p>
                    Yes! When users submit a record proposal, they also can submit a request for payment. If the
                    voters consider this to be an appropriate fee for the content submitted, as well as meeting the other
                    guidelines such as accuracy, evidence, references, validity of content, then the submitting entity will receive payment
                    for their work on approval.
                </p>
                <hr />
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                        <h5>Coin Statistics as of April 16, 2022</h5>
                        <ul>
                            <li>No ICO, Premine, Instamine, or Founder’s Tax</li>
                            <li>X16Rv2 GPU Mineable</li>
                            <li>2MB Blocks</li>
                            <li>Block Reward: ~3.5 Per Block</li>
                            <li>Miners Take: 50%</li>
                            <li>Content Distribution Masternodes Take: 50%</li>
                            <li>Record Proposals: Up to 20%</li>
                            <li>Annual Decrease of Supply by 7.69%</li>
                            <li>Maximum Coin Supply: 15.4 Million</li>
                            <li>61160 New Coins per Month</li>
                            <li>Circulating Coin Supply: 4,116,085</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                        <img src="~/images/theme-1-about.png" class="img-fluid float-right" alt="Historia ICO">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="listing-container" style="margin: 0px 10px 10px 0px">
                <h4>Development Log</h4>
                <br />
                <h5>Completed</h5>
                <h6>Update: April 16, 2022</h6>
                <ul>
                    <li>Historia Local Web Application Released</li>
                </ul>

            </div>
        </div>
    </div>
