@{
    ViewData["Title"] = "About";
}

<div class="listing-container">
    <div class="title" class="heading_news">
        <h1 class="display-4">Welcome To Historia Network</h1>
    </div>
    <br />

    <hr />
    <div class="row">
        <div class="listing-container" style="margin: 0px 10px 10px 0px">
            <div class="text-left">
                <h3>What is Historia?</h3>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mmA_51j3K3Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
            <br />
            <h5>What is Historia at a high level?</h5>
            <p>
                Historia is a special type of digital ledger called a blockchain. It keeps a secure and unchangeable record of current events, which will become historical records in the future. The main goal of Historia is to ensure these records are completely accurate, preventing any false information from being added.
            </p>
            <p>Another way to describe it is as a mix of Twitter's (X.com) Community Notes feature and an archiving website, but created in a decentralized way.</p>
            <h5>What is Historia in layman terms?</h5>
            <p>
                Historia is like a digital library that everyone can help build and maintain. Instead of being stored in one place, it’s stored on many computers around the world. Think of it like a group project for keeping historical records. People in the network vote to approve records, and once approved, these records cannot be changed or edited by anyone, not even the creators. These records will stay exactly the same for as long as the Historia Network exists, ideally forever.
            </p>
            <h5>How does a record get permanetly added to the Historia Network?</h5>
            <p>
                Anyone can propose a record by paying a small fee, which helps prevent spam. Once proposed, the record enters a voting period where members of the network vote on its accuracy. If the record receives enough votes for accuracy, it becomes a permanent part of the Historia Network.
            </p>
            <h5>How do I vote?</h5>
            <p>
                To become a voter, you must own at minimum 100 HTA coins. You can buy these on a cryptocurrency exchange like <a href="https://xeggex.com/" style="text-decoration:underline;">XeggeX</a>, with <a href="https://xeggex.com/market/HTA_BTC" style="text-decoration:underline;">
                    Bitcoin
                </a> or <a href="https://xeggex.com/market/HTA_BTC" style="text-decoration:underline;">
                    USDT
                </a>
            </p>

            <h5>Why do I need "voting keys" to vote?</h5>
            <p>
                Voting keys are required to maintain the accuracy of the records. If everyone could vote, powerful entities could manipulate the vote. By limiting the number of voting keys, which are tied to the limited number of coins available, the system ensures that only a select group can participate in voting, preserving the integrity of the records.
            </p>
            <h5>Can I get paid by submitting records?</h5>
            <p>
                Yes! When you submit a record proposal, you can also request payment. If voters approve the record and find your payment request reasonable, considering factors like accuracy, evidence, references, and validity, you will receive payment for your work upon approval.
            </p>
            <h5>What is the Historia Local Web Application (HLWA)?</h5>
            <p>
                This application that you are using, the Historia Local Web Application (HLWA) is an open-source version of the <a href="https://historia.network" style='text-decoration: underline;' target="_blank">Historia.network</a> website that you can run on your own computer. It maintains the decentralized nature of the Historia Network and allows you to view, vote on, and submit records, just like on the main website. However, it doesn't include the user system and comment system.  You can find links for this from the Wallets and Software page <a href="/Home/Wallets" style='text-decoration: underline;'>here</a>.
            </p>
            <h5>Why release the Historia Local Web Application (HLWA)?</h5>
            <p>
                To uphold the decentralized nature of the Historia Network, the developers created the HLWA. This open-source software ensures that even if our centralized website is shut down, possibly due to government action, the project can continue. The HLWA allows users to keep accessing, voting on, and submitting records, preventing the entire project from being completely shut down.
            </p>
            <h5>What is the Historia Local Web Browser Extension (HLWBE)?</h5>
            <p>
                The Histora Local Web Browser Extension (HLWBE) is a open source extension is a browser extenison that works in conjucture with either the Historia Network website or the Histora Local Web Application (HLWA) to save and import a direct copy of a web page for archiving purposes. You can find links for this from the Wallets and Software page <a href="/Home/Wallets" style='text-decoration: underline;'>here</a>.
            </p>
            <h5>How do you use Historia Network?</h5>
            <p>
                There are much documentation out there, depending on what you are wanting to do. A starting point after this current page is to visit <a href="/Home/HowTo" style='text-decoration: underline;'>here</a>.
            </p>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <h5>Coin Statistics as of June 29, 2024</h5>
                    <ul>
                        <li>No ICO, Premine, Instamine, or Founder’s Tax</li>
                        <li>X16Rv2 GPU Mineable</li>
                        <li>2MB Blocks</li>
                        <li>Block Reward: ~3.5 Per Block</li>
                        <li>Miners Take: 50%</li>
                        <li>Content Distribution Masternodes Take: 50%</li>
                        <li>Record Proposals: Up to 20%</li>
                        <li>Annual Decrease of Supply by 7.69%</li>
                        <li>61160 New Coins per Month</li>
                        <li>Circulating Coin Supply: 5,565,227</li>
                        <li>Maximum Coin Supply: 15.4 Million</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <img src="~/images/theme-1-about.png" class="img-fluid float-right" alt="Historia ICO">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="listing-container" style="margin: 0px 10px 10px 0px">
            <h4>Development Log</h4>
            <p>These logs are for both Historia Local Web App as well as the Historia.network site.</p>
            <br />
            <h5>Completed</h5>
            <h6>Update: June 29, 2024</h6>
            <ul>
                <li>Completed full intergration between HLWA and the Historia Core Wallet</li>
                <li>If you would like more information about this intergration, visit our blog <a href="https://blog.historia.network/" style='text-decoration: underline;' target="_blank">here</a>.</li>
            </ul>

            <h6>Update: March 22, 2024</h6>
            <ul>
                <li>Updates to get features in line with Historia.network web site.</li>
                <li>Update create builder to add Media types.</li>


            </ul>
            <h6>Update: August 26, 2023</h6>
            <ul>
                <li>Added a method to automatically take a screen shot of a Tweet and add it to the Create Builder.</li>
                <li>Added Open Graph information on the front page for any archives that get submitted. We also added this to the details page for each record/archive. This cleans things up a bit.</li>
                <li>Added search capabilities to the web interface. Searching the Historia Network records will search on all Name, Summary, and contents of the records</li>
                <li>Added Deep Search to the web interface. Searching the Historia Network records will search on all Name, Summary, and contents of the records if Deep Search is enabled.</li>

            </ul>
            <h6>Update: April 30, 2023</h6>
            <ul>
                <li>Fixed a bug in which the records submitted via the Historia Local Web decentralized app (HLWA) were not being seen on the centralized site. They now will be automatically imported into the centralized web site.</li>
                <li>Fixed a "Hours/Days/Weeks/Months ago" since submission bug on the proposals/record/archives. While minor, it now works properly across all time zones.</li>
                <li>Added Open Graph information on the front page for any archives that get submitted. We also added this to the details page for each record/archive. This cleans things up a bit.</li>
                <li>Added search capabilities to the web interface. Searching the Historia Network records will search on all Name, Summary, and contents of the records</li>
                <li>Added all of these features and fixes to Historia Local Web App (HLWA). </li>
            </ul>
            <h6>Update: December 4, 2022</h6>
            <ul>
                <li>Historia Network Main Site Updated Create System to allow for versioning, evidence, and topics</li>
                <li>Updated record details page to allow for versioning, evidence, and topics</li>
                <li>Updated record details page to allow listing of versioning, evidence, and topics information</li>
                <li>Updated Historia Network Core Client to support new versioning, evidence, and topics system (Release date for 17.04 TBD)</li>
            </ul>
            <h6>Update: August 3, 2022</h6>
            <ul>
                <li>Historia Network Main Site Complete Revamp of Create System for better scaling</li>
                <li>New Create System offers faster payments of proposals</li>
                <li>New Create System UI for more intuitive design approach</li>
                <li>New Browser Extension interfacing with main Historia Network web application</li>
                <li>New version of Historia Local Web Application Release with minor bug fixes</li>
            </ul>
            <h6>Update: April 21, 2022</h6>
            <ul>
                <li>Historia Local Web Application Released (HLWA)</li>
                <li>Mobile Web Site Cleanup</li>
                <li>Many minor bug fixes and tweaks</li>
                <li>URL Added to Masternode Listing Page for HLWA Support</li>
            </ul>

            <h6>Update: January 5, 2022</h6>
            <ul>
                <li>Infinite scrolling pagination system</li>
                <li>Further Administration tools and statistics</li>
                <li>Many minor bug fixes and tweaks</li>
                <li>General code cleanup</li>
            </ul>
            <h6>Update: August 5, 2021</h6>
            <ul>
                <li>Tweaks to comment system to add sorting capibilites, user reporting</li>
                <li>Tweaks to main page to add top comments per proposal, and newest comments</li>
                <li>Many minor bug fixes and tweaks</li>
                <li>Further tweaks for create system, to allow for posting on users' public page before submitted for vote</li>
                <li>Revamp of Masternode and Voting Node Registration page</li>

            </ul>
            <h6>Update: October 1, 2020</h6>
            <ul>
                <li>Email engine completed</li>
                <li>Administration tools and statistics</li>
                <li>Many minor bug fixes and tweaks</li>
                <li>Ability for users to self-delete comments</li>
                <li>General code cleanup</li>
            </ul>
            <h6>Update: September 1, 2020</h6>
            <ul>
                <li>Updates to Affilate Marketing System released</li>
                <li>Private in app messaging system released</li>
                <li>Deep linking of articles for comments and messaging</li>
                <li>User reporting system for spam/pornographic content</li>
            </ul>
            <h6>Update: July 24, 2020</h6>
            <ul>
                <li>
                    Affilate Marketing System released
                </li>
            </ul>
            <h6>Update: July 1, 2020</h6>
            <ul>
                <li>
                    Reached Beta level - Open for receiving proposals/records/archives.
                </li>
                <li>
                    Previous third party comment system has been removed and replaced with in house designed comment system.
                </li>
                <li>
                    Home page revamped to all objects lists.
                </li>
                <li>
                    More informational pages explaining how to use.
                </li>
                <li>
                    Character counters on input fields.
                </li>
            </ul>
            <h6>Update: June 4, 2020</h6>
            <ul>
                <li>
                    Object creation generator has been completely revamped on back end to make faster.
                </li>
                <li>
                    Preview system intregated to show output before submission.
                </li>
                <li>
                    Images are now part of the HTML generated.
                </li>
                <li>
                    Creation of all object types are now enabled.
                </li>
                <li>
                    Social Media buttons are now enabled to share.
                </li>
                <li>
                    Cycle Information listed on Create page.
                </li>
                <li>
                    Bug fixes! Too many to list here.
                </li>
            </ul>
        </div>
    </div>
</div>
