@{
    ViewData["Title"] = "How To";
}

    <div class="listing-container">
        <div class="title" class="heading_news">
            <h1 class="display-4">Create New Record or Proposal</h1>
        </div>

        <div class="row">
            <div class="listing-container" style="margin: 0px 10px 10px 0px">
                <h2>What is Historia?</h2>
                <p>If you haven't already read the About page, we suggest you do that now <a href="/Home/About" style="text-decoration: underline;">here.</a></p>
            </div>
        </div>
        <div class="row">
            <div class="listing-container" style="margin: 0px 10px 10px 0px">
                <h2>What is?</h2>
                <br />
                <ul id="tabsJustified" class="nav nav-tabs" style="background:#fff">
                    <li class="nav-item"><a href="#proposals" data-target="#proposals" data-toggle="tab" role="tab" class="nav-link small text-uppercase active">Proposals</a></li>
                    <li class="nav-item"><a href="#records" data-target="#records" data-toggle="tab" role="tab" class="nav-link small text-uppercase ">Records</a></li>
                    <li class="nav-item"><a href="#archive" data-target="#archive" data-toggle="tab" role="tab" class="nav-link small text-uppercase ">Archives</a></li>
                    <li class="nav-item"><a href="#cycle" data-target="#cycle" data-toggle="tab" role="tab" class="nav-link small text-uppercase ">Voting Cycle</a></li>
                    <li class="nav-item"><a href="#raddress" data-target="#raddress" data-toggle="tab" role="tab" class="nav-link small text-uppercase ">Reward Address</a></li>
                    <li class="nav-item"><a href="#ramount" data-target="#ramount" data-toggle="tab" role="tab" class="nav-link small text-uppercase ">Reward Amount</a></li>

                </ul>
                <div class="tab-content">
                    <div id="proposals" class="tab-pane fade show active">
                        <br />
                        <p>
                            A proposal is a temporary object that lets voters decide the direction of the Historia Network and this application.
                            If a proposal passes, the Historia developers will do our best to follow the will of the voters. All proposals will expire
                            and be deleted from the decentralized network. Things that could be submitted as proposals listed below:
                        </p>
                        <ul>
                            <li>You have a good idea, are willing to do the work, and want to get paid in HTA.</li>
                            <li>Directions to the developers on content</li>
                            <li>Ideas on marketing</li>
                            <li>Directions on development or new features</li>
                        </ul>
                    </div>
                    <div id="records" class="tab-pane fade show">
                        <br />
                        <p>
                            A record is a object that if the voters approve, then will be a permanently added to the network. Once added, the record
                            can never be altered, edited, or deleted by anybody, including the developers. It is 100% impossible as the records exist on
                            in a decentralized database that no one person owns or controls. Things that could be submitted as records listed below:
                        </p>
                        <ul>
                            <li>A current event</li>
                            <li>Wiki content</li>
                            <li>Useful information that should always be maintained forever.</li>
                        </ul>
                    </div>
                    <div id="archive" class="tab-pane fade show">
                        <br />
                        <p>An archive is similar to a record, but is used to archive a web page at the current point in time.</p>
                    </div>
                    <div id="cycle" class="tab-pane fade show">
                        <br />
                        <p>
                            A new Voting Cycle starts every 30 days, approximately around middle of the month. The exact start date changes
                            month to month. Any proposal, records, or archives that are submitted during the voting cycle will either be approved
                            and paid, or expire and deleted from the Historia Network.
                        </p>
                    </div>
                    <div id="raddress" class="tab-pane fade show">
                        <br />
                        <p>
                            A reward address is the payment address that user would like to receive payment to, if their proposal, record, or archive passes.
                        </p>
                    </div>
                    <div id="ramount" class="tab-pane fade show">
                        <br />
                        <p>
                            A reward amount is the amount of Historia (HTA) coins that the user requests for payment if, if their proposal, record, or archive passes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="listing-container" style="margin: 0px 10px 10px 0px">
                <h2>How to use the Create Builder</h2>
                <p>Please read the Create Builder instructions at the documentation site <a href="https://docs.historia.network/en/latest/governance/create.html" target="_blank" style="text-decoration: underline;">here</a></p>
            </div>
        </div>


        <div class="row">
            <div class="listing-container" style="margin: 0px 10px 10px 0px">
                <h2>Tips for getting your proposal, record, or archive approved</h2>

                <br />
                <ul id="tabsJustified" class="nav nav-tabs" style="background:#fff">
                    <li class="nav-item"><a href="#generaltips" data-target="#generaltips" data-toggle="tab" role="tab" class="nav-link small text-uppercase active">General</a></li>
                    <li class="nav-item"><a href="#proposaltips" data-target="#proposaltips" data-toggle="tab" role="tab" class="nav-link small text-uppercase">Proposals</a></li>
                    <li class="nav-item"><a href="#recordstips" data-target="#recordstips" data-toggle="tab" role="tab" class="nav-link small text-uppercase ">Records</a></li>
                    <li class="nav-item"><a href="#archivetips" data-target="#archivetips" data-toggle="tab" role="tab" class="nav-link small text-uppercase ">Archives</a></li>

                </ul>
                <div class="tab-content">
                    <div id="generaltips" class="tab-pane fade show active">
                        <br />
                        <h4>Keep your articles clear</h4>
                        <p>
                            No matter what type you are submitting, your articles should have a clear name (title),
                            followed by a simple summary, and a detailed explanation.
                        </p>
                        <h4>Formatting is important</h4>
                        <p>
                            The create page has a HTML editor that allows for an individual to add images, URLs,
                            and allows for nice formatting. If it's an ugly format, no matter if perfect in all other ways, the likelihood
                            goes down that people will vote yes for it. We have provided templates for the user to start with.
                        </p>

                        <h4>Grammer and spelling is important</h4>
                        <p>
                            It would be best to run your content through a Grammer and Spell check program before you submit.
                        </p>

                        <h4>Your identity is important</h4>
                        <p>
                            Get involved, comment on other articles, making good points and counter arguments, without moving
                            into personal attacks. If you disagree with the articles you are commenting on, the higher the
                            quality of your argument, the more your reputation will grow.
                        </p>

                        <h4>Be prepared to answer questions or add comments</h4>
                        <p>
                            Once you start posting articles, be prepared to defend your position and lobby for it.
                        </p>

                        <h4>Post your proposal early in the cycle</h4>
                        <p>
                            Each month has a voting cycle. This normally starts around mid-month. For the best chance of getting
                            your article approved, it's best to submit at the beginning of the cycle to give the most amount of time for users to vote on it.
                        </p>

                    </div>
                    <div id="proposaltips" class="tab-pane fade show">
                        <br />
                        <h4>Coming Soon</h4>
                    </div>

                    <div id="recordstips" class="tab-pane fade show">
                        <br />
                        <h4>Coming Soon</h4>
                    </div>

                    <div id="archivetips" class="tab-pane fade show">
                        <br />
                        <h4>Coming Soon</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
