@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>PRIVACY NOTICE</h2>
<p>Last updated April 16, 2022</p>



<p>
    Thank you for choosing to be part of our community at Historia Network (“Company”, “we”, “us”, or “our”). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our notice, or our practices with regards to your personal information, please contact us at info@historia.network.
</p>



<h3>1. WHAT INFORMATION DO WE COLLECT?</h3>
<p>
    This is a opensource version, we collect nothing about the usage of this local web application. No requests are made off your local computer from this application.
</p>

