@{
    ViewData["Title"] = "Team";
}

    <div class="listing-container">
        <div class="title" class="heading_news">
            <h1 class="display-4">Historia Team</h1>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="listing-container" style="margin: 0px 10px 10px 0px">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-8">
                        <div class="row justify-content-center text-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="center-heading">
                                        <h2 class="section-title">Team</h2>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="center-text">
                                        <p>The Historia team is made of a group of technology and security experts, passionate about truth in history. The Historia project was designed, developed, and created by a multicultural team that hold various political beliefs, religious beliefs, sexual orientations and genders.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="center-heading" style="margin: 50px 0px 20px 0px">
                                        <h2 class="section-title">Partners / Exchanges / Pools</h2>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="center-text">
                                        <p>
                                            <a href="https://blockspot.io/coin/historia/"><img src="https://blockspot.io/wp-content/uploads/cropped-blockspot-logo-white.png" type="button" class="btn btn-dark" height="40px" alt="Blockspot.io"></a>
                                            <a href="https://xeggex.com/market/HTA_USDT"><svg alt="XeggeX logo" version="1.0" xmlns="http://www.w3.org/2000/svg" style="width:42px;height:42px;" width="540.000000pt" height="540.000000pt" viewBox="0 0 540.000000 540.000000" preserveAspectRatio="xMidYMid meet" fill="currentColor"><g transform="translate(0.000000,540.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none"><path fill="#EBBE5A" d="M812 4181 c6 -18 1023 -1300 1029 -1298 18 6 236 283 229 292 -4 6 -116 150 -248 321 -133 172 -242 315 -242 318 0 3 103 6 230 6 l229 0 215 -267 215 -268 -33 -40 c-148 -181 -1626 -2036 -1626 -2040 0 -3 319 -5 708 -5 l708 0 164 204 c90 111 162 207 161 212 -4 12 -225 283 -231 283 -3 0 -67 -74 -143 -165 l-138 -164 -230 0 c-141 0 -229 4 -227 9 2 6 293 376 648 822 355 447 657 830 673 850 l27 37 -352 451 -353 451 -708 0 c-412 0 -707 -4 -705 -9z"></path><path d="M3011 3988 c-90 -112 -163 -207 -163 -211 1 -10 225 -286 232 -286 3 0 67 74 143 165 l138 164 230 0 c142 0 229 -4 227 -10 -1 -5 -304 -392 -673 -860 -368 -468 -670 -855 -670 -860 0 -4 157 -206 350 -449 l350 -441 708 0 c412 0 707 4 705 9 -6 18 -1023 1300 -1029 1298 -18 -6 -236 -283 -229 -292 4 -5 116 -150 248 -321 133 -172 242 -315 242 -318 0 -3 -103 -6 -229 -6 l-230 0 -210 255 c-116 140 -211 260 -211 266 0 5 371 478 825 1049 454 572 825 1042 825 1045 0 3 -319 5 -708 5 l-708 0 -163 -202z"></path></g></svg></a>
                                            <a href="http://pool.peopleland.net/" type="button" class="btn btn-dark" height="50px" alt="PeopleLand">PeopleLand Pool</a>
                                        </p> More coming soon...
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="center-heading" style="margin: 50px 0px 20px 0px">
                                        <h2 class="section-title">Social Media Links</h2>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="center-text">
                                        <p>
                                            <a href="https://twitter.com/historiasys?ref_src=twsrc%5Etfw" type="button" class="btn btn-dark" height="50px" alt="PeopleLand"><img src="https://abs.twimg.com/favicons/twitter.ico" type="button" class="btn btn-dark" height="40px" alt="Twitter">Twitter</a>
                                            <a href="https://www.facebook.com/HistoriaOfficial/" type="button" class="btn btn-dark" height="50px" alt="Facebook"><img src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" type="button" class="btn btn-dark" height="40px" alt="Facebook">Facebook </a>
                                            <a href="https://medium.com/%40historiasys" type="button" class="btn btn-dark" height="50px" alt="Medium"><img src="https://cdn-images-1.medium.com/fit/c/60/60/1*8I-HPL0bfoIzGied-dzOvA.png" type="button" class="btn btn-dark" height="40px" alt="Reddit">Medium</a>
                                            <a href="https://www.reddit.com/r/historiasys/" type="button" class="btn btn-dark" height="50px" alt="PeopleLand"><img src="https://www.redditstatic.com/desktop2x/img/favicon/favicon-16x16.png" type="button" class="btn btn-dark" height="40px" alt="Reddit">Reddit</a>
                                            <a href="https://discordapp.com/invite/b3FJPpn" type="button" class="btn btn-dark" height="50px" alt="Discord"><img src="~/images/discord.ico" type="button" class="btn btn-dark" height="40px" alt="Discord">Discord</a><br /><br />
                                            <a href="https://t.me/historiaoffical" type="button" class="btn btn-dark" height="50px" alt="Telegram"><img src="https://telegram.org/img/website_icon.svg?4" type="button" class="btn btn-dark" height="40px" alt="Telegram">Telegram Broadcast</a>
                                            <a href="https://t.me/HistoriaHTA" type="button" class="btn btn-dark" height="50px" alt="Telegram"><img src="https://telegram.org/img/website_icon.svg?4" type="button" class="btn btn-dark" height="40px" alt="Telegram">Telegram Chat</a>
                                            <a href="https://www.youtube.com/channel/UCG5l1dx6p9gPJut0W-Val0g" type="button" class="btn btn-dark" height="50px" alt="Discord"><img src="https://www.youtube.com/s/desktop/e65285e0/img/favicon.ico" type="button" class="btn btn-dark" height="40px" alt="Telegram">YouTube</a>
                                            <br /><br />
                                            <a href="https://bitcointalk.org/index.php?topic=5010022" type="button" class="btn btn-dark" height="50px" alt="BitcoinTalk">BitcoinTalk</a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                                <br />

                    </div>
                </div>

            </div>
        </div>
    </div>
