@{
    ViewData["Title"] = "Wallets";
}

<div class="listing-container">
    <div class="title" class="heading_news">
        <h1 class="display-4">Historia Software</h1>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="listing-container" style="margin: 0px 10px 10px 0px">
            <div class="row justify-content-center text-center">
                <h5 class="display-4">Historia Core Wallets</h5>
                <div class="col-xl-8">
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-6 col-lg-4 card-col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/windows.png">
                                    <h3>Windows</h3>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/HistoriaOffical/historia/releases/download/0.17.1.0/historiacore-0.17.1-win64-setup.exe">Win64 Full Client</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 card-col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/apple.png">
                                    <h3>Mac OS</h3>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/HistoriaOffical/historia/releases/download/0.17.1.0/historiacore-0.17.1-osx.dmg">OSX Full Client</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 card-col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/ubuntu.png">
                                    <h3>Ubuntu Linux</h3>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/HistoriaOffical/historia/releases/download/0.17.1.0/historiacore-0.17.1-x86_64-linux-gnu.tar.gz">Ubuntu 18.04+ Full Client</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center text-center" style="padding: 50px 50px 0px 50px">
                        Looking for a different operating system? Check out Github releases page...
                    </div>
                    <div class="row justify-content-center text-center" style="padding: 15px 0px 0px 0px">
                        <a class="btn btn-secondary" href="https://github.com/HistoriaOffical/historia/releases/tag/0.17.1.0" role="button" style="width:200px" target="_blank">Github Releases</a>
                    </div>
                </div>
            </div>
            <br /><hr />
            <div class="row justify-content-center text-center">
                <h5 class="display-4">Historia Local Web Application</h5>
                <div class="col-xl-8">
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-6 col-lg-4 card-col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/windows.png">
                                    <h3>Windows</h3>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/HistoriaOffical/Historia-Local-Web-Application/releases/download/v1.3/Historia-Local-Web-App-Win-x64.zip">Win64 Web App</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 card-col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/apple.png">
                                    <h3>Mac OS</h3>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/HistoriaOffical/Historia-Local-Web-Application/releases/download/v1.3/Historia-Local-Web-App-OSX-x64-v1.3.tar.gzip">OSX Web App</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 card-col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/ubuntu.png">
                                    <h3>Ubuntu Linux</h3>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/HistoriaOffical/Historia-Local-Web-Application/releases/download/v1.3/Historia-Local-Web-App-Linux-x86_x64-v1.3.tar.gzip">Ubuntu 18.04+ Web App</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center text-center" style="padding: 50px 50px 0px 50px">
                        Looking for the source code? Check out Github page...
                    </div>
                    <div class="row justify-content-center text-center" style="padding: 15px 0px 0px 0px">
                        <a class="btn btn-secondary" href="https://github.com/HistoriaOffical/Historia-Local-Web-Application/" role="button" style="width:200px" target="_blank">Github</a>
                    </div>
                </div>
            </div>
            <br /><hr />
            <div class="row justify-content-center text-center">
                <h5 class="display-4">Historia Local Web Browser Extension</h5>
                <div class="col-xl-8">
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-6 col-lg-4 card-col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Chrome-Logo.png" width="180px">

                                </div>
                                <div class="card-footer">
                                    <a href="https://chromewebstore.google.com/u/4/detail/historia-network/ihmcoecfnpaaakilbpdppjipnjpdieki?hl=en">Chrome Browser Extension</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 card-col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Firefox_logo,_2017.svg.png" width="100px">

                                </div>
                                <div class="card-footer">
                                    <a href="https://addons.mozilla.org/en-US/firefox/addon/historia-network/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=search">Firefox Browser Extension</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 card-col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Microsoft_Edge_logo_(2019).png" width="100px">

                                </div>
                                <div class="card-footer">
                                    <a href="https://microsoftedge.microsoft.com/addons/detail/historia-network/djmhcodldiogdjogmnjgebcgbnklapca">Edge Browser Extension</a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center text-center" style="padding: 50px 50px 0px 50px">
                        Looking for the source code? Check out Github page...
                    </div>
                    <div class="row justify-content-center text-center" style="padding: 15px 0px 0px 0px">
                        <a class="btn btn-secondary" href="https://github.com/HistoriaOffical/SingleFileHistoria" role="button" style="width:200px" target="_blank">Github</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
