@{
    ViewData["Title"] = "Whitepaper";
}

<div class="listing-container">
    <div class="title" class="heading_news">
        <h1 class="display-4">Historia White Paper</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-2 float-left">
            <a class="btn btn-secondary" href="/assets/Historia-Whitepaper-v2.4.pdf" role="button" style="width:200px" download>Download Whitepaper</a>
        </div>
        <div class="col-2 float-right">
             <a class="btn btn-secondary" href="tokenomics" role="button" style="width:200px">Tokenomics</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="listing-container" style="margin: 0px 10px 10px 0px">
            <iframe src="~/assets/Historia-Whitepaper-v2.4.pdf" width="100%" height="1024">
            </iframe>
        </div>
    </div>

</div>
