@{
    ViewData["Title"] = "Whitepaper";
}

    <div class="listing-container">
        <div class="title" class="heading_news">
            <h1 class="display-4">Historia White Paper</h1>
        </div>
        <br />
        <a class="btn btn-secondary" href="/assets/Historia-Whitepaper-v2.4.pdf" role="button" style="width:200px" download>Download Whitepaper</a>
        <hr />
        <div class="row">
            <div class="listing-container" style="margin: 0px 10px 10px 0px">
                <iframe src="~/assets/Historia-Whitepaper-v2.4.pdf" width="100%" height="1024">
                </iframe>
            </div>
        </div>

    </div>
